:root {
   /* colors */
  --white: #fdfdfd;
  --light-gray: #efefef;
  --light-border: #c8c8c8;
  --med-border: #908d8d;
  --dark-blue: #7878f7;
  --muted-blue: #afafff;
  --warning: #ff0000; 

  /* spacing */
  --base: 6px;
}


.App {
  text-align: center;
}

.cardLogos img {
  width: 80%;
  margin-bottom: 20px;
}

/* form elements */

.formContainer {
  border: 2px solid var(--light-border);
  border-radius: 5px;
  background-color: var(--light-gray);
  padding: 20px 40px;
  max-width: 325px;
  margin: 75px auto;
  background-image: linear-gradient(0deg, var(--light-gray), var(--white));
}
.field {
  margin-bottom: 20px;
}
.field input {
  width: 100%;
  height: 32px;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid var(--light-border);
  text-align: center;
}

input[type="submit"] {
  background-color: var(--dark-blue);
  border-radius: 5px;
  height: auto;
  color: #ffffff;
  width: 100%;
  border: 1px solid var(--med-border);
  font-size: 18px;
  padding: 8px;
}

input:disabled {
  background-color: var(--muted-blue);
}

.expContainer {
  display: flex;
  justify-content: space-between;
}
.expContainer > div {
  width: 48%;
}
.error {
  font-size: 12px;
  color: var(--warning);
  text-align: left;
}
